.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__window {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  height: 581px;
  width: 528px;
  background-color: #fff;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #0000001a;
  background-color: #ffffff;
}

.close__button {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close:hover & {
    fill: #2196f3;
  }
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:first-of-type {
    margin-top: 12px;
  }
}

.form__contact {
  position: relative;
}

.form__label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within {
    border-color: #188ce8;
  }
  &:focus,
  .form__icon:hover {
    outline: transparent;
  }
}

.form__icon {
  position: absolute;
  margin-left: 12px;
  top: 65%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__item:focus-within & {
    fill: #188ce8;
  }
}

.form__comment__area {
  padding: 16px 12px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border-color: #188ce8;
  }
  &:focus,
  &:hover {
    outline: transparent;
  }
}

/* -------------------------------CHECKBOX------------------- */

.form__checkbox {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;

  &__input {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  outline: none;
}
}



.form__checkbox__label {
  position: relative;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 00.03em;

  &::before {
    position: absolute;
    display: inline-block;
    content: " ";
    background-image: url(" data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='check-box' viewBox='0 0 34 32' %3E%3Cpath style='fill:%23ffffff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.64' d='M6.262 15.206l-0.221-0.211-0.221 0.208-3.085 2.925 0.243 0.234 11.408 10.88 0.221-0.211 24.256-23.139-0.243-0.23-3.043-2.902-0.221 0.211-20.97 19.987-8.125-7.75z' %3E%3C/path%3E%3C/svg%3E");
    height: 16px;
    width: 15px;
    border-radius: 30%;
    border: 2px solid #2a2a2a;
    text-align: center;
    margin-right: 8px;
    background-color: transparent;
    outline: transparent;
    fill: transparent;
    transform: translateX(-20px);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before,
  .form__checkbox__input:focus ~ &::before {
    outline: 2px green solid;
  }
  .form__checkbox__input:checked ~ &::before {
    background-color: #188ce8;
    border-color: #188ce8;
  }
}

.agreement-link {
  color: #2196f3;
  text-decoration: underline;
}

.form__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;

  display: block;
  margin-top: 30px;
  padding: 10px 30px;
  line-height: 1.875;

  border-radius: 4px;
  border-width: 2px;
  border-color: #188ce8;
  box-shadow: 0px 4px 4px 0px #00000025;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
