.works {
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    width: 370px;
    margin-right: 30px;
  }

  &__thumb {
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__desc {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2f303acc;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
