body {
  color: var(--maintext-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  display: block;
  text-decoration: none;
}

.link__social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
}
